.btn-custom {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #e64a19; /* Un tono un poco más oscuro para el hover */
}

.custom-container{
    margin-top: 5rem;
}